<script src="https://cdn.tailwindcss.com/?plugings=typography,forms"></script>
	<style type="text/tailwindcss">
   
  </style>
</head>
<body class=""> 
    <ul >
      <li class="m-11 float-left block h-auto w-fit p-4 bg-yellow-200 opacity-75 shadow-2xl drop-shadow-lg shadow-stone-800">
        <a class="decoration-2 font-serif" href="#">Task:</a><br><br>
        <a class="decoration-2 font-serif" href="#">Inicio:</a><br>
        <a class="decoration-2 font-serif" href="#">Fin:</a>
        <br><br>
        <button class="bg-teal-700 border border-teal-800 shadow-xl shadow-stone-800 drop-shadow-2xl hover:bg-lime-500 hover:border-lime-500 rounded-lg"><a class="text-white hover:text-orange-600 font-mono" href="#">Editar</a></button>
        <button class="bg-red-600 border border-red-700 shadow-xl shadow-stone-800 drop-shadow-2xl hover:bg-lime-500 hover:border-lime-500 rounded-lg"><a class="text-white hover:text-orange-600 font-mono" href="#">Eliminar</a></button>

    </ul>
</body>